.vs/
**/.vs/
**/bin/
**/obj/
**/App_Data/*.mdf
**/App_Data/*.ldf
/DramaMurderGraduationDb*.mdf
/DramaMurderGraduationDb*.ldf
**/iisexpress-*.log
tmp-iisexpress-logs/
precompiled_scan/
docx_build_er/
roomchat_error.html
**/ImportedScripts/
**/Uploads/
DramaMurderGraduation.Web/Web.local.config
*.user
*.suo
